@import "App";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid gray;
  border-radius: 5px;

  .comment {
    display: flex;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  button {
    border: 1px solid gray;
  }

  $input-border-color: gray;
  $input-border-radius: 0px;

  input {
    border: 1px solid $input-border-color;
    border-radius: $input-border-radius;
    background: $color-second;

    word-wrap: break-word;
    word-break: break-all;
    padding: 4px;
    color: $color-first;
  }
}
