@import "App";

.wrapper {
  position: fixed;
  inset: 0;
  padding: 16px;
  transition: all 0.25s 1;
}

.backdrop {
  position: absolute;
  inset: 0;
  background: $shadow-modal;
  backdrop-filter: blur(2px);
  animation: fadeIn 850ms cubic-bezier(0.14, 0.78, 0.36, 1);
}

.content {
  display: flex;
  justify-content: center;
  transition: all 0.25s 1;
  animation: slideIn 500ms cubic-bezier(0.14, 0.78, 0.36, 1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
