@import "App";

.wrapper {
  height: 100%;

  display: grid;
  grid-template-rows: 3fr 1fr 50fr;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 8px 0px;
  gap: 8px;

  .span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;

  color: $color-first;
  margin: 0;
}

.line {
  display: flex;
  height: 0px;

  border: 1px solid $color-first;
  margin: 12px 0px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  height: 85%;

  .grid {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    column-count: 3;
    column-rule: dashed;
    overflow-x: auto;
    width: 95vw;
    max-height: 80vh;

    .span {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
    }
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 24px;
  }
}
@media (max-width: 900px) {
  .content .grid {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: min-content;
  }
}
@media (max-width: 480px) {
  .header {
    flex-direction: column;

    span {
      width: 100%;
    }
  }

  .title {
    display: block;
    width: auto;
  }
}

@media (max-height: 1024px) {
  .content .grid {
    max-height: 75vh;
  }
}
@media (max-height: 900px) {
  .content .grid {
    max-height: 70vh;
  }
}
@media (max-height: 750px) {
  .content .grid {
    max-height: 65vh;
  }
}
@media (max-height: 650px) {
  .content .grid {
    max-height: 60vh;
  }
}
@media (max-height: 550px) {
  .content .grid {
    max-height: 55vh;
  }
}
@media (max-height: 450px) {
  .content .grid {
    max-height: 45vh;
  }
}
@media (max-height: 350px) {
  .content .grid {
    max-height: 40vh;
  }
}
