@import "App";

.header {
  max-height: 5vh;
  display: flex;
  justify-content: center;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  color: $color-first;
  margin: 0;
}

@media (max-height: 600px) {
  .title {
    font-size: 16px;
  }
}
