@import "App";

.wrapper {
  display: flex;
  justify-content: space-around;
  height: 54px;
  height: 36px;
  background-color: $color-second;
  border: 2px solid $color-first;
  border-radius: 8px;
  max-width: 30vw;

  input {
    color: var(--color3);
    width: 100%;
    background-color: $color-second;
    border: 4px solid $color-second;
    border-radius: 4px;
    font-size: 18px;
    margin: 4px;

    input:focus {
      filter: none !important;
    }

    ::placeholder {
      font-style: italic;
      color: $color-first;
      opacity: 0.5;
    }
  }

  .icon {
    margin: 8px;
    filter: brightness(0) saturate(100%) invert(19%) sepia(3%) saturate(15%)
      hue-rotate(352deg) brightness(89%) contrast(83%);
  }
}

@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .wrapper span {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .wrapper {
    max-width: 100%;
  }
}
