@import "App";

$button-size: 30px;
$button-icon-size: 20px;

.wrapper {
  width: $button-size;
  height: $button-size;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0px;

  color: $color-second;
  background-color: $color-first;
  border-width: 2px;
  border-style: dashed;
  border-color: $color-second;
  box-shadow: 0px 3px 0px 1px var(--shadow-object);
  border-radius: 10px;

  transition: 0.25s;
  transition-timing-function: cubic-bezier(0, 1.38, 0.15, 1.53);

  .icon {
    display: block;
    width: $button-icon-size;
    height: $button-icon-size;
    margin: 0;

    filter: $filter-first;
    cursor: pointer;
  }

  &:hover {
    color: $color-first;
    background-color: $color-second;
    border-color: $color-first;

    .icon {
      filter: $filter-second;
    }
  }

  &:active {
    box-shadow: 0px 0px 0px 2px $color-first;
  }
}
