@import "App.scss";

.wrapper {
  position: fixed;
  left: 10%;
  right: 10%;
  /* top: 16.04%; */
  bottom: 60%;
  background: #d9d9d9;
  border-radius: 10px;
  padding: 12px;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.title {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 41px;

  color: $color-first;
  margin: 0;
}

.line {
  display: flex;
  height: 0px;

  border: 1px solid #000000;
  margin: 4px 0px;
}


.content {
    padding: 8px 0px;
    .span {
        display: flex;
        gap: 8px;
        .label {
          font-family: "PT Sans Caption";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 41px;
        
          color: $color-first;
          margin: 0;
        }
  }
}

.input_string {
  width: 460px;
  height: 32px;
  left: 273px;
  top: 188px;

  background: #ffffff;
}
.navigation {
    display: flex;
    justify-content: end;
}
