@import "App";

.wrapper {
  position: fixed;
  top: 16.04%;
  background: $color-third;
  border-radius: 10px;
  padding: 12px;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  color: $color-first;
  margin: 0;
}

.line {
  display: flex;
  height: 0px;

  border: 1px solid $color-first;
  margin: 4px 0px;
}

.content {
  padding: 8px 0px;

  span {
    display: flex;
    gap: 8px;

    label {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      align-self: center;

      color: $color-first;
      margin: 0;
    }
  }
}

.input_string {
  border: 1px solid $color-first;
  border-radius: 5px;
  word-wrap: break-word;
  word-break: break-all;
  padding: 4px;
  background: $color-second;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: end;
}
